---
import type { Puzzle } from "./puzzle";
import Dialog from "../components/dialog.astro";
import Menu from "../components/menu.astro";

type Props = { puzzle: Puzzle };
const { puzzle } = Astro.props;
---

<Menu />

<svg
  id="game"
  viewBox="-5 -5 100 100"
  role="img"
  data-puzzle={JSON.stringify(puzzle)}></svg>

<div id="arr-btns">
  <button class="btn" data-dir="u" id="btn-up">&uarr;</button>
  <button class="btn" data-dir="d" id="btn-down">&darr;</button>
  <button class="btn" data-dir="l" id="btn-left">&larr;</button>
  <button class="btn" data-dir="r" id="btn-right">&rarr;</button>
</div>
<div>
  <button class="btn" id="btn-undo">Undo (Z)</button>
  <button class="btn btn-danger" id="btn-reset">Reset (R)</button>
</div>

<Dialog />

<style is:global>
  #game {
    display: block;
    margin: auto;
  }

  #arr-btns {
    display: grid;
    margin: auto;
    width: min-content;
    grid-template-columns: 3rem 3rem 3rem;
    grid-template-rows: 3rem 3rem;
    grid-template-areas:
      "x u y"
      "l d r";
  }

  #btn-up {
    grid-area: u;
  }
  #btn-down {
    grid-area: d;
  }
  #btn-left {
    grid-area: l;
  }
  #btn-right {
    grid-area: r;
  }

  #btn-undo,
  #btn-reset {
    padding: 1rem;
  }
</style>

<script>
  import { Grid } from "./grid";
  import { BoardState } from "./puzzle";
  import { Renderer } from "./renderer";
  import type { Direction } from "./vector2d";

  let timer: number;
  let timerSeconds: number = 0;
  let state: BoardState;
  const renderer = new Renderer();
  const onSolved = () => {
    clearInterval(timer);
    const dialog = document.querySelector("#notifies");
    dialog?.classList.remove("hidden");
    const dialogTimer = dialog?.querySelector("#dialog-timer");
    if (dialogTimer)
      dialogTimer.innerHTML =
        document.querySelector("#timerpanel")?.innerHTML ?? "";
  };

  document.addEventListener("DOMContentLoaded", () => {
    // setup puzzle and render initial grid
    const canvas = document.querySelector("#game") as HTMLElement;
    if (!canvas) return;
    if (!canvas.dataset.puzzle) return;

    const puzzle = JSON.parse(canvas.dataset.puzzle).cells;

    state = new BoardState(new Grid(puzzle), renderer, onSolved);
    canvas.style.maxWidth = `${state.puzzle.width * 50}px`;

    // add inputs
    document.addEventListener("keydown", (e) => {
      const dir = {
        ArrowUp: "u" as const,
        ArrowDown: "d" as const,
        ArrowLeft: "l" as const,
        ArrowRight: "r" as const,
      }[e.key];

      if (!dir) return;

      e.preventDefault();
      state.movePlayer(dir);
    });

    document.querySelectorAll("#arr-btns > *").forEach((el) => {
      const btn = el as HTMLButtonElement;
      btn.addEventListener("click", () => {
        if (!btn.dataset.dir) return;
        state.movePlayer(btn.dataset.dir as Direction);
      });
    });

    // setup undo
    const handleUndo = () => {
      state.undo();
    };
    (
      document.querySelector("#btn-undo") as HTMLButtonElement
    )?.addEventListener("click", handleUndo);
    document.addEventListener("keydown", (e) => {
      if (e.key === "z") {
        handleUndo();
      }
    });

    // setup reset
    const handleReset = () => {
      state = new BoardState(new Grid(puzzle), renderer, onSolved);
    };
    (
      document.querySelector("#btn-reset") as HTMLButtonElement
    )?.addEventListener("click", handleReset);
    document.addEventListener("keydown", (e) => {
      if (e.key === "r") {
        handleReset();
      }
    });

    // set header
    const header = document.querySelector("h1");
    !!header && (header.innerHTML = "Yajisan-Sokoban (?) player");

    // start timer
    timer = setInterval(() => {
      timerSeconds++;
      const timerEl = document.querySelector("#timerpanel");
      if (timerEl) {
        timerEl.innerHTML = `Time: ${Math.floor(timerSeconds / 60)
          .toString()
          .padStart(
            2,
            "0"
          )}:${(timerSeconds % 60).toString().padStart(2, "0")}`;
      }
    }, 1000);
  });
</script>
