---
import Base from "../layouts/base.astro";
---

<Base title="GAPPril Fools!">
  <h1>GAPPril Fools!</h1>

  <ul>
    <li><a href="/april-fools-2025/1">Level 1</a></li>
  </ul>
</Base>

<style is:global>
  ul {
    width: min-content;
    min-width: 300px;
    margin: auto;
    text-align: left;
  }

  ul li {
    white-space: nowrap;
  }
</style>
