---
import Base from "../layouts/base.astro";
---

<Base title="GAPPril Fools!">
  <h1>GAPPril Fools!</h1>

  <ul>
    <li><a href="/april-fools-2025/1">The puzzle</a></li>
    <li>
      <a href="https://github.com/lavaloid/april-fools-2025" target="_blank"
        >The source code</a>
    </li>
  </ul>
</Base>

<style is:global>
  ul {
    width: min-content;
    min-width: 300px;
    margin: auto;
    margin-bottom: 1rem;
    text-align: left;
  }

  ul li {
    white-space: nowrap;
  }
</style>
