---
type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/april-fools-2025/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/april-fools-2025/favicon-16x16.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    style='background-image: url("data:image/gif;base64,R0lGODdhEAAQAIAAAMD/wPD/8CwAAAAAEAAQAAACKYQTpogKnFxbMDpa7W18yjhp1yGO1OidW5mSKFuaTyy585t0ctZ+EFAAADs=");'
  >
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  html {
    /* fix iOS text size change on rotation */
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  body {
    margin: 0pt;
    padding: 0pt;
    color: black;
    line-height: 120%;
    image-rendering: crisp-edges;
  }

  main {
    width: 80%;
    background-color: white;
    margin: 8pt auto;
    padding-bottom: 6pt;
    border: 2pt solid green;
    text-align: center;
  }

  h1 {
    margin: 16pt 0pt 24pt 0pt;
    font-size: 1.5rem;
    text-align: center;
  }

  .btn {
    display: inline;
    margin: 2pt;
    padding: 2pt 4pt 2pt 4pt;
    border-radius: 4pt;
    border: solid 1pt gray;

    background: silver;
    background: linear-gradient(to bottom, white, silver);
    text-align: center;
    vertical-align: middle;
    font: 90%/1.2 sans-serif;
    cursor: default;
  }
  .btn:active {
    background: #afafaf;
    background: linear-gradient(to bottom, #afafaf, #cccccc);
  }
  .btn:disabled {
    color: silver;
  }
  .btn-ok {
    background: blue;
    background: linear-gradient(to bottom, #afafff, blue);
    color: white;
  }
  .btn-ok:active {
    background: navy;
    background: linear-gradient(to bottom, navy, blue);
  }

  .btn-info {
    background: #993366;
    background: linear-gradient(to bottom, #cc6699, #993366);
    color: white;
  }
  .btn-info:active {
    background: #66334f;
    background: linear-gradient(to bottom, #99334f, #993366);
  }

  .btn-warn:active {
    background: #999900;
    background: linear-gradient(to bottom, #999900, #cccc00);
  }

  .btn-danger {
    background: red;
    background: linear-gradient(to bottom, #ffafaf, red);
    color: white;
  }
  .btn-danger:active {
    background: #cc0000;
    background: linear-gradient(to bottom, #cc0000, red);
  }
</style>
